.panel-heading-bg {
    background: url(../../slike/panelHeader.jpg) no-repeat !important;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.left-side {
    float: none;
    display: table-cell;
    border: 1px solid;
}

.right-side {
    float: none;
    display: table-cell;
    border: 1px solid;
}


body {
	background-image: url("../../slike/ozadje.jpg") ;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

blockquote {
	text-align: center;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}